<?xml version="1.0"?>
<opencv_storage>
<mainLoopDelay>1</mainLoopDelay>
<CCDelay>140</CCDelay>
<IPInitDebugMode>0</IPInitDebugMode>
<CCHandlerDebugMode>0</CCHandlerDebugMode>
<IPHandlerDebugMode>0</IPHandlerDebugMode>
<PSMHandlerDebugMode>0</PSMHandlerDebugMode>
<LMHandlerDebugMode>0</LMHandlerDebugMode>
<RPHandlerDebugMode>0</RPHandlerDebugMode>
<DDHandlerDebugMode>0</DDHandlerDebugMode>
<CUHandlerDebugMode>0</CUHandlerDebugMode>
<CHandlerDebugMode>0</CHandlerDebugMode>
<CCPrintDebugMode>0</CCPrintDebugMode>
<IPPrintDebugMode>0</IPPrintDebugMode>
<PSMPrintDebugMode>1</PSMPrintDebugMode>
<LMPrintDebugMode>0</LMPrintDebugMode>
<RPPrintDebugMode>0</RPPrintDebugMode>
<DDPrintDebugMode>0</DDPrintDebugMode>
<CUPrintDebugMode>0</CUPrintDebugMode>
<CPrintDebugMode>0</CPrintDebugMode>
<CCDisplayDebugMode>1</CCDisplayDebugMode>
<IPDisplayDebugMode>0</IPDisplayDebugMode>
<PSMDisplayDebugMode>0</PSMDisplayDebugMode>
<LMDisplayDebugMode>1</LMDisplayDebugMode>
<RPDisplayDebugMode>0</RPDisplayDebugMode>
<DDDisplayDebugMode>0</DDDisplayDebugMode>
<CUDisplayDebugMode>0</CUDisplayDebugMode>
<CDisplayDebugMode>0</CDisplayDebugMode>
</opencv_storage>

<!--

<?xml version="1.0"?>
<opencv_storage>
<mainLoopDelay>25</mainLoopDelay>
<CCDelay>140</CCDelay>
<IPInitDebugMode>0</IPInitDebugMode>
<CCHandlerDebugMode>0</CCHandlerDebugMode>
<IPHandlerDebugMode>0</IPHandlerDebugMode>
<PSMHandlerDebugMode>0</PSMHandlerDebugMode>
<LMHandlerDebugMode>0</LMHandlerDebugMode>
<RPHandlerDebugMode>1</RPHandlerDebugMode>
<DDHandlerDebugMode>1</DDHandlerDebugMode>
<CUHandlerDebugMode>0</CUHandlerDebugMode>
<CHandlerDebugMode>0</CHandlerDebugMode>
<CCPrintDebugMode>0</CCPrintDebugMode>
<IPPrintDebugMode>1</IPPrintDebugMode>
<PSMPrintDebugMode>1</PSMPrintDebugMode>
<LMPrintDebugMode>1</LMPrintDebugMode>
<RPPrintDebugMode>1</RPPrintDebugMode>
<DDPrintDebugMode>1</DDPrintDebugMode>
<CUPrintDebugMode>1</CUPrintDebugMode>
<CPrintDebugMode>0</CPrintDebugMode>
<CCDisplayDebugMode>1</CCDisplayDebugMode>
<IPDisplayDebugMode>1</IPDisplayDebugMode>
<PSMDisplayDebugMode>0</PSMDisplayDebugMode>
<LMDisplayDebugMode>1</LMDisplayDebugMode>
<RPDisplayDebugMode>0</RPDisplayDebugMode>
<DDDisplayDebugMode>0</DDDisplayDebugMode>
<CUDisplayDebugMode>0</CUDisplayDebugMode>
<CDisplayDebugMode>0</CDisplayDebugMode>
</opencv_storage>




	-->